<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>{% block title %}{% endblock %} Page</title>
        <link rel="stylesheet" href="/static/main.css"/>
      </head>
      <body>
        <h1><div class = "button_group" style = "width: 100%">
            <form method = "get" action = "/">
                <button type = "submit">Home</button>
            </form>
            <form method = "get" action = "/statistics">
                <button type = "submit">Statistics</button>
            </form>
            <form method = "get" action = "/your-page">
                <button type = "submit">Your Page</button>
            </form>
        </div>
        </h1><br><br>
        <h2>This website was created for a Database course and should not be used as medical reference. If you have any health concerns, please contact a professional.</h2>
        {% block content %}{% endblock %}
    
        <footer>
          <small>&copy; 2021, Leyla Mammadova</small>
        </footer>
      </body>
</html>