<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>{% block title %}{% endblock %} Page</title>
        <link rel="stylesheet" href="/static/main.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
      </head>
      <body>
        <div class="navbar-menu">
          <div class="navbar-start">
            <div class="navbar-item">
              <a class="button is-primary" href="/">Home</a>
            </div>
            <div class="navbar-item">
              <a class="button is-primary" href="/statistics">Statistics</a>
            </div>
            <div class="navbar-item">
              <a class="button is-primary" href="/your-page">Your Page</a>
            </div>
          </div>
        </div>
        <div class="block">
          <div class="container">
            <div class="notification is-info">
              
              <h2>This website was created for a Database course and should not be used as medical reference. If you have any health concerns, please contact a professional.</h2>
            </div>
          </div>
        </div>
        <div class="columns is-centered">
          <div class="column is-half">
            {% block content %}{% endblock %}
          </div>
        </div>
        <footer class="footer">
          <small>&copy; 2021, Leyla Mammadova</small>
        </footer>
      </body>
</html>