{% extends "layout.html" %}
{% block title %}Your{% endblock %}
{% block content %}
    <div class="content">
        <h3>Fill the information below</h3>
    </div>

    <div class="box">
        <form action="{{ url_for('handle_login') }}" method="POST">
            {% if error == True %}
            <p class = "help is-danger">Wrong email or password</p>
            {% endif %}
            <div class="field">
                <label for="email">Email:</label>
                <input class="input is-normal" type="email" id="email" name="email"><br>
            </div>

            <div class="field">
                <label for="password">Password:</label>
                <input class="input is-normal" type="password" id="password" name="password"><br>
            </div>

            <div class="field">
                <button class="button is-light" type="submit">Log In</button>
            </div>
        </form>
    </div>
    

{% endblock %}