{% extends "layout.html" %}
{% block title %}Statistics{% endblock %}
{% block content %}
    <div class="content">
        <h3>Please answer the following questions in order to compare the average statistics with your personal profile</h3>
    </div>
    <div class="box">
        <form action="{{ url_for('handle_statistics_form') }}" method="POST">

            <div class="field">
                <label for="siblings">How many siblings do you have?</label>
                <input type="number" id="siblings" name="siblings" value="{{ values['siblings'] }}">
                {% if 'siblings' in values.errors %}
                    <p class = "help is-danger">
                        {{ values.errors['siblings'] }}
                    </p>
                {% endif %}
            </div>

            <div class="field">
                <p>What are your grandparents' age?/How old were they when they passed away?</p>
                <div>
                    <label for="grandparent1">1.</label>
                    <input type="number" id="age1" name="grandparent1" value="{{ values['grandparent1'] }}">
                    <label for="grandparent2">2.</label>
                    <input type="number" id="age2" name="grandparent2" value="{{ values['grandparent2'] }}">
                    <label for="grandparent3">3.</label>
                    <input type="number" id="age3" name="grandparent3" value="{{ values['grandparent3'] }}">
                    <label for="grandparent4">4.</label>
                    <input type="number" id="age4" name="grandparent4" value="{{ values['grandparent4'] }}">
                </div>
                {% if 'grandparent1' in values.errors %}
                    <p class = "help is-danger">
                        {{ values.errors['grandparent1'] }}
                    </p>
                {% endif %}
            </div>

            <div class="field">
                <label for="education">Are you currently in eduation, employment or training?</label><br>
                <div id="education">
                    <label for="yes">Yes</label>
                    <input type="radio" id="yes" name="education" value="Yes" {% if values['education'] == "Yes" %}checked{% endif %}>
                    <label for="no">No</label> 
                    <input type="radio" id="no" name="education" value="No" {% if values['education'] == "No" %}checked{% endif %}>
                </div>   
                {% if 'education' in values.errors %}
                    <p class = "help is-danger">
                        {{ values.errors['education'] }}
                    </p>
                {% endif %} 
            </div> 

            <div class="field">
                <label for="tobacco">Do you use tobacco?</label><br>
                <div id="tobacco">
                    <label for="yes">Yes</label>
                    <input type="radio" id="yes" name="tobacco" value="Yes" {% if values['tobacco'] == "Yes" %}checked{% endif %}>
                    <label for="no">No</label> 
                    <input type="radio" id="no" name="tobacco" value="No" {% if values['tobacco'] == "No" %}checked{% endif %}>
                </div>
                {% if 'tobacco' in values.errors %}
                    <p class = "help is-danger">
                        {{ values.errors['tobacco'] }}
                    </p>
                {% endif %}  
            </div>
            
            <div class="field">
                <label for="drinking">Do you drink alcohol?</label><br>
                <div id="drinking">
                    <label for="yes">Yes</label>
                    <input type="radio" id="yes" name="drinking" value="Yes" {% if values['drinking'] == "Yes" %}checked{% endif %}>
                    <label for="no">No</label> 
                    <input type="radio" id="no" name="drinking" value="No" {% if values['drinking'] == "No" %}checked{% endif %}>
                </div>
                {% if 'drinking' in values.errors %}
                    <p class = "help is-danger">
                        {{ values.errors['drinking'] }}
                    </p>
                {% endif %}   
            </div>
            {% if adolescent_mortality_cause != None %}
                <div class="field">
                    <p>Do you have any familty members that have passed from any of the following causes?(Select all that apply)<p>
                    {% for cause in causes %}
                        <label for="cause">{{ cause[0] }}</label>
                        <input type="checkbox" id="cause" name="cause" value="{{ cause[0] }}"><br>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="field">
                <button class="button is-light" type="submit">Submit</button>
            </div>

        </form>
    </div>

{% endblock %}