{% extends "layout.html" %}
{% block title %}Statistics{% endblock %}
{% block content %}

    <div class="content">
        <h3 class="title">Welcome, {{ current_user.data['first_name'] }}</h3>
        <div class="box">
            <p><b>Your Predicted Statistics:</b></p>
            <ul>
                <li>Approximate number of siblings: <b>{{ fertility }}</b></li>

                <li>You are expected to live until the age of <b>{{ life_expectancy_birth }}</b>.</li>

                {% if is_applicable(current_user.age, "adolescents_mortality_rate") %}
                    <li>
                    {% if adolescent_mortality == None %}
                        Data about adolescent mortality rate is not available in your country.
                    {% else %}
                        There is <b>{{ adolescent_mortality }}%</b> probability that you die before reaching the age of 20.
                    {% endif %}
                    </li>
                {% endif %}

                {% if is_applicable(current_user.age, "adolescent_mortality_causes") %}
                    <li>
                    {% if adolescent_mortality_cause == None %}
                        Data about adolescent mortality causes is not available in your country.
                    {% else %}
                        If you die before 20, you will probably die from <b>{{ adolescent_mortality_cause }}</b>.
                    {% endif %}
                    </li>
                {% endif %}

                <li>{% if life_expectancy_old == None %}
                    Data about life expectancy after 60 is not available in your country.
                {% else %}
                    Provided that you live until 60 years old, you are expected to live until the age of <b>{{ life_expectancy_old + 60 }}</b>.
                {% endif %}</li>

                <li>{% if is_applicable(current_user.age, "tuberculosis_rate") %}
                    The chance of you getting tuberculois: <b>{{ tuberculosis }}%</b>
                {% else %}
                    The chance of you getting tuberculosis after 60 years old: <b>{{ tuberculosis }}%</b>
                {% endif %}</li>

                <li>{% if is_applicable(current_user.age, "hepb_rate") %}
                    The chance of you getting acute Hepatitis B: <b>{{ hepb }}%</b>
                {% else %}
                    The chance of you getting acute Hepatitis B after 60 years old: <b>{{ hepb }}%</b>
                {% endif %}</li>

                {% if current_user.age >= 15 and current_user.age <= 24 %}
                    <li>
                    {% if education == None %}
                        Data about education, employment or training is not available in your country.
                    {% else %}
                        There is <b>{{ education }}%</b> chance that you are currently not in education, employment or training.
                    {% endif %}
                    </li>
                {% endif %}

                {% if current_user.age >= 11 and current_user.age <= 17 %}
                    <li>
                    {% if physical_activity == None %}
                        Data about physical activity in adolescents is not available in your country.
                    {% else %}
                        There is <b>{{ physical_activity }}%</b> chance that you are getting insufficient physical activity.
                    {% endif %}
                    </li>
                {% endif %}

                {% if is_applicable(current_user.age, "tobacco_use") %}
                    <li>
                    {% if tobacco_use == None %}
                        Tobacco use data not available in your country.
                    {% else %}
                        <b>{{ tobacco_use }}%</b> of the people you know use tobacco.
                    {% endif %}
                    </li>
                {% endif %}

                {% if current_user.age >= 15 and current_user.age <= 19 %}
                    <li>
                    {% if drinking == None %}
                        Data about adolescent drinking is not available in your country.
                    {% else %}
                        <b>{{ drinking }}%</b> of the people you know are drinking.
                    {% endif %}
                    </li>
                {% endif %}

                <li>{% if poverty == None %}
                    Data about economic status of your country is not available.
                {% else %}
                    There is <b>{{ 100 - poverty }}%</b> chance that you live above the international poverty line.
                {% endif %}</li>

                <li>{% if sanitation == None %}
                    Data about basic sanitation services is not available in your country.
                {% else %}
                    There is <b>{{ sanitation }}%</b> chance you are using at least basic sanitation services.
                {% endif %}</li>

                <li>{% if water == None %}
                    Data about basic drinking water services is not available in your country.
                {% else %}
                    There is <b>{{ water }}%</b> chance you are using at least basic water drinking services.
                {% endif %}</li>
            </ul>
        </div>

        {% if 'empty' in personal_statistics %}
            <div class="field">
                <p>How accurate is the information above? <a href="/statistics_form">Let us know</a>.</p>
            </div>

        {% else %}
            <div class="box">
                <p><b>Information You Entered:</b></p>
                <ul>
                    <li><b>Number of siblings:</b> {{ personal_statistics['siblings'] }}</li>
                    <li><b>Average age of grandparents:</b> {{ personal_statistics['average_age'] }}</li>

                    <li><b>You are currently in education, employment or training:</b> {{ personal_statistics['education'] }}</li>
                    {% if current_user.age < 15 or current_user.age > 24 %}
                        <p>(Data entered but not applicable)</p>
                    {% endif %}

                    <li><b>You use tobacco:</b> {{ personal_statistics['tobacco'] }}</li>
                    {% if not is_applicable(current_user.age, "tobacco_use") %}
                        <p>(Data entered but not applicable)</p>
                    {% endif %}

                    <li><b>You drink alcohol:</b> {{ personal_statistics['alcohol'] }}</li>
                    {% if current_user.age < 15 or current_user.age > 19 %}
                        <p>(Data entered but not applicable)</p>
                    {% endif %}

                    {% if causes_data %}
                        <li><b>Selected mortality causes:</b>
                            <ul>
                                {% for cause in causes_data %}
                                    <li>{{ cause }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% else %}
                        <li>No mortality causes were selected</li>
                    {% endif %}
                </ul>
                <p>Based on the information you provided, the predicted statistics is <b>{{ accuracy }}</b>% accurate.</p>
            </div>
            <p><i>If you want to edit the entered information, <a href="/statistics_edit">press here</a> to edit it</i></p>
            <div class="content">
                <a class="button is-danger" href="/delete_form">Delete Form</a>
            </div>
        {% endif %}

        {% if has_review == None%}
        <div class="field">
            <p><i>Consider leaving a review <a href="/review_form">here</a></i></p>
        </div>
        {% else %}
            <p>Looks like you have already left a review. You can <a href="/review_edit">edit it</a> or <b><a href="/delete_review">delete it</a></b></p>

        {% endif %}
    </div>


{% endblock %}