{% extends "layout.html" %}
{% block title %}Your{% endblock %}
{% block content %}

    <h3>Welcome, {{ current_user.data['first_name'] }}</h3>
    <p class = "profile"><b>Your profile:</b><br>
    Full name: {{ current_user.data['first_name'] }} {{ current_user.data['last_name'] }}<br>
    Gender: {{ current_user.data['gender'] }}<br>
    Country: {{ current_user.data['country'] }}<br>
    Age: {{ age }}<br>
    Email: {{ current_user.data['email'] }}<br>
    <i>If the above information is incorrect <a href="/edit">press here</a> to edit it</i></p>
    <div class="button_group">
        <form method = "get" action = "/logout">
            <button type = "submit">Sign Out</button>
        </form><br><br><br>
    </div>
        

{% endblock %}