{% extends "layout.html" %}
{% block title %}Your{% endblock %}
{% block content %}

    <div class="content">
        <h3 class="title">Welcome, {{ current_user.data['first_name'] }}</h3>

        <script type="text/javascript">
            window.onload = function(){
                document.getElementById('profile').addEventListener('click', function(e){
                    document.getElementById('fileDialogId').click();
                })

                document.getElementById('fileDialogId').addEventListener('change', function(e) {
                document.forms["profile_picture"].submit();
                });
            }
        </script>

        <article class="media">
            <figure class="media-right">
                <p class="image is-64x64">
                    <img id="profile" src="profile_picture/{{ current_user.data['id'] }}" alt="default profile picture">
                </p>
            </figure>
        </article>

        <form action="/handle_profile_picture" style="display: none;" method="POST" name="profile_picture" enctype="multipart/form-data">
			<input type="file" id="fileDialogId" name="file" />
            <input type="submit">
		</form>

        <div class="box">
            <p><b>Your profile:</b></p>
            <ul>
                <li><b>Full name:</b> {{ current_user.data['first_name'] }} {{ current_user.data['last_name'] }}</li>
                <li><b>Gender:</b> {{ current_user.data['gender'] }}</li>
                <li><b>Country:</b> {{ current_user.data['country'] }}</li>
                <li><b>Age:</b> {{ current_user.age }}</li>
                <li><b>Email:</b> {{ current_user.data['email'] }}</li>
            </ul>

            <div class="field">
                <p><i>If the above information is incorrect <a href="/edit">press here</a> to edit it</i></p>
            </div>

            <a class="button is-warning" href="/logout">Sign Out</a>

            <a class="button is-danger" href="/delete_user">Delete Account</a>

        </div>

    </div>
        

{% endblock %}